/* Nav.css */
.navbar {
    display: flex;
    background-color: #333;
    padding-left: 30px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    color: white;
    width:300px;
  }
  .nav-item a{
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  .nav-item a:hover {
    background-color: #555;
    border-radius: 4px;
  }
  