body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d7c3e717;
  min-height: 100vh;
}

.form-container {
  width: 100%;
  max-width: 1200px;
  padding: 150px 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todos-container {
  width: 100%;
  max-width: 1500px;
  padding: 0px 200px;
  align-items: center;
  justify-content: center;
}

.todo-item {
  display: flex;
  gap: 50px;
  max-width: 1500px;
  font-size: 1.2rem;
  justify-content: center;
}
