/* App.css */
.App {
  text-align: center;
}

.app-wrapper {
  width: 80%; /* 원하는 너비로 설정하세요 (예: 80%) */
  height: 80vh; /* 원하는 높이로 설정하세요 (예: 80vh) */
  margin: 0 auto; /* 중앙 정렬 */
  border: 1px solid #ccc; /* 테두리 추가 (옵션) */
  overflow: hidden; /* 내용이 초과할 경우 숨기기 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto;
  gap: 10px;
  padding: 20px;
}

.movie-item {
  width: 130px;
  text-align: center;
  border-radius: 8px;
}

.movie-item img {
  width: 80%;
  border-radius: 8px;
}

h2 {
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}

.movie-item:hover {
  filter: brightness(0.5);
  transform: scale(1.05); 
}